/cache/*
/logs/*
/docs/*
/1c
/components/com_virtuemart/shop_image/category/*.jpg
/components/com_virtuemart/shop_image/category/*.png
/components/com_virtuemart/shop_image/category/resized/*.jpg
/components/com_virtuemart/shop_image/category/resized/*.png
/components/com_virtuemart/shop_image/product/*.jpg
/components/com_virtuemart/shop_image/product/*.png
/components/com_virtuemart/shop_image/product/resized/*.jpg
/components/com_virtuemart/shop_image/product/resized/*.png
/administrator/components/com_virtuemart/virtuemart.cfg.php
/components/com_auk/views/auk/tmpl/cookie.txt
/tmp/*
/tclexport/
/configuration.php
/files/